@page
@model DoAnKTLT_NguyenCongDanh_21880020.Pages.MH_TimKiemMatHangModel
@using DoAnKTLT_NguyenCongDanh_21880020.Entities;
<form method="post">
    <input name="noiDungTimKiem" />
    <button type="submit">Tìm kiếm</button>
</form>
<table>
    <tr>
        <th>Mã MH</th>
        <th>Tên</th>
        <th>Hạn dùng</th>
        <th>Công ty sản xuất</th>
        <th>Ngày sản xuất</th>
        <th>Loại</th>
        <th>Giá</th>
        <th></th>
    </tr>
    @foreach (MatHang mh in Model.lstMH)
    {
        <tr>
            <td>@mh.MaMH</td>
            <td>@mh.TenMH</td>
            <td>@mh.HanDungMH</td>
            <td>@mh.CongTySX</td>
            <td>@mh.NgaySX</td>
            <td>@mh.Loai</td>
            <td>@mh.Gia</td>
            <td>
                <a href="/MH_SuaMatHang?id=@mh.MaMH">Sửa</a>
                <a href="../Pages/MH_XoaMatHang.cshtml">Xóa</a>
            </td>
        </tr>
    }
</table>
@Model.chuoi
